go 1.22

use (
	./agent
	./pkg
	./services/ai
	./services/asset
	./services/audit
	./services/compliance
	./services/device
	./services/dlp
	./services/gateway
	./services/identity
	./services/mdm
	./services/nac
	./services/policy
	./services/remote
	./services/software
	./services/zerotrust
)
